@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	background-color: white;
	color: rgba(0, 0, 0, 1);
}

div#interface {
	background-color: red;
	margin: -8px ;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
	padding: 30px;
}

div#Lista nav#menu {
    display: block;
}

div#Lista nav#menu ul {
    list-style: none;
	text-transform: uppercase;
	position: absolute;
	top: -15px;
	left: 560px;
}

div#Lista nav#menu li {
	display: inline-block;
	background-color: yellow;
	padding: 10px;
	margin: 8px;
	transition: background-color 1s;
}

div#Lista nav#menu li:hover {
    text-decoration: underline;
    font-size: large;
}

div#start nav#nome h1 {
    display: block;
	position: absolute;
	top: -5px;
    left: 160px;
    color: yellow;
}

div#start nav#explicação hgroup {
    display: block;
    position: absolute;
	top: 140px;
    left: 160px;
    width: 369px;
    height: 215px;
    color: #494949;
}

div#start nav#explicação hgroup#sub {
    font-size: 20pt;
    color: #888888;
    top: 200px;
    left: 160px;
}
